/* body {
    color: rgb(21, 105, 214);
    padding: 1rem;
  } */

  body, html {
    height: 100%;
  }
  
  body {
    box-sizing: border-box;
  }

  .text {
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(109, 218, 208);
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 25px;
  text-align: center;
}

  .background-image {
    background-image: url('https://cdn.discordapp.com/attachments/475885919052890112/890788891995549696/those_birdy.png');
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h2 {
    font-family: "Trirong", serif;
    color: rgb(7, 255, 255);
  }

  p {
    font-size: 20px;
  }

